<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button clear="true" full="true" item-right icon-left>
      <ion-title>Thai Services</ion-title>
      <ion-icon class="icon-right" name="home"></ion-icon>
          <ion-icon class="icon-right" name="">  </ion-icon>
      <ion-icon class="icon-right" name="">  </ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar placeholder="ค้นหาบริการ" (ionInput)="getItems($event)" ></ion-searchbar>
    <ion-list>
        <ion-item>
          <ion-label>หมวดหมู่</ion-label>
          <ion-select [(ngModel)]="productCetetoryId">
            <ion-option value="nes">ช่างไฟ</ion-option>
            <ion-option value="n64">ช่างแอร์</ion-option>
            <ion-option value="ps">ช่างประปา</ion-option>
            <ion-option value="genesis">ช่างก่อสร้าง</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    <ion-list>
      <ion-item *ngFor="let item of items">
        {{ item }}
      </ion-item>
    </ion-list>
      <ion-card>
        <ion-card-header>
          บริการแนะนำ
        </ion-card-header>
        <ion-card-content>
           
      </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-header>
              ข่าวสาร / โปรโมชั่น
          </ion-card-header>
          <ion-card-content>
             
        </ion-card-content>
        </ion-card>
</ion-content>
