// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
[icon-left] ion-icon, [icon-start] ion-icon {
    line-height: 1;
}
.flag-icon.flag-icon-squared {
    width: 2em !important;
    height: 2em !important;
    cursor: pointer;
}
.flag-icon.selected {
    outline: solid 5px color($colors, primary, base);
}
.content-md {
    background-color:color($colors, secondary, base);
}
.toolbar-title-md {
    color: color($colors, light, base);
}
.toolbar-background-md {
    background: color($colors, primary, base);
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: color($colors, light, base);
}
.item-md {
    background-color: color($colors, secondary, base);
}
.card-md {
    background-color: color($colors, secondary, base);
}
.tabs-md .tabbar {
    background: color($colors, dark, base);
}
.tabs-md .tab-button-icon {
    color: color($colors, light, base);
}
.button-md {
    color: color($colors, light, base);
}