<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button clear="true" full="true" item-right icon-left>
    <ion-title>{{uiLabelMap.APINewAccount}}</ion-title>
    <ion-icon class="icon-right" name="create"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>

      <ion-item>
          <ion-label floating>{{uiLabelMap.APIEmail}}</ion-label>
          <ion-input type="email" [(ngModel)]="input.email" name="email" readonly></ion-input>
        </ion-item>
    <ion-item>
      <ion-label floating>{{uiLabelMap.APIRegisterCode}}</ion-label>
      <ion-input type="email" [(ngModel)]="input.registerCode" name="registerCode"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>{{uiLabelMap.APIPassword}}</ion-label>
        <ion-input type="password" [(ngModel)]="input.currentPassword" name="currentPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{uiLabelMap.APIConfirmPassword}}</ion-label>
        <ion-input type="password" [(ngModel)]="input.currentPasswordVerify" name="currentPasswordVerify"></ion-input>
      </ion-item>
    <ion-item>
      <button ion-button full large (click)="startAccount()">{{uiLabelMap.APICreateAccount}}</button>
    </ion-item>
  </ion-list>
</ion-content>
